/node_modules
/public_html/hot
/public_html/storage
/public_html/assets/images/company
/public_html/assets/images/profile
/public_html/assets/images/support
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
rules.txt
.idea/
composer.lock
