select[readonly] {
    pointer-events: none;
    touch-action: none;
}

.wizard > .actions .disabled a {
    color: #000 !important;
    background-color: #b1b2b3 !important;
    border-color: #acadae !important;
    box-shadow: unset !important;
}

.no-border{
    border: 0 !important;
}

.display-none{
    display: none;
}

/* inputs */
.form-group>label {
    top: 42px;
    left: 10px;
    position: relative;
    padding: 0 5px 0 5px;
    font-size: 0.95em;
    transition: 0.2s;
    pointer-events:none;
    z-index: 1;
}

.form-group.label-animate label {
    top: 18px;
    left: 5px;
    font-size: 0.9em;
    z-index: 6;
}

table td .form-group>label {
    top: 10px;
    left: 20px;
    position: absolute;
    font-size: 1.15em;
}
table td .form-group.label-animate label {
    top: -5px;
    left: 20px;
    font-size: 0.9em;
}
.form-group input,
.form-group textarea,
.form-group select {
    font-size: 15px;
    border-radius: 5px
}
.mb-0{
    margin-bottom:0 !important
}
.mb-1{
    margin-bottom:.25rem!important
}
.mb-2{
    margin-bottom:.5rem!important
}
.mb-3{
    margin-bottom:1rem!important
}
.mb-4{
    margin-bottom:1.5rem!important
}
.mb-5{
    margin-bottom:3rem!important
}
.mt-0{
    margin-right:0 !important
}
.mt-1{
    margin-top:.25rem!important
}
.mt-2{
    margin-top:.5rem!important
}
.mt-3{
    margin-top:1rem!important
}
.mt-4{
    margin-top:1.5rem!important
}
.mt-5{
    margin-top:3rem!important
}
.mr-0{
    margin-right:0 !important
}
.mr-1{
    margin-right:.25rem!important
}
.mr-2{
    margin-right:.5rem!important
}
.mr-3{
    margin-right:1rem!important
}
.mr-4{
    margin-right:1.5rem!important
}
.mr-5{
    margin-right:3rem!important
}
.ml-0{
    margin-left:0 !important
}
.ml-1{
    margin-left:.25rem!important
}
.ml-2{
    margin-left:.5rem!important
}
.ml-3{
    margin-left:1rem!important
}
.ml-4{
    margin-left:1.5rem!important
}
.ml-5{
    margin-left:3rem!important
}
.pb-0{
    padding-bottom:0 !important
}
.pb-1{
    padding-bottom:.25rem!important
}
.pb-2{
    padding-bottom:.5rem!important
}
.pb-3{
    padding-bottom:1rem!important
}
.pb-4{
    padding-bottom:1.5rem!important
}
.pb-5{
    padding-bottom:3rem!important
}
.pt-0{
    padding-top:0 !important
}
.pt-1{
    padding-top:.25rem!important
}
.pt-2{
    padding-top:.5rem!important
}
.pt-3{
    padding-top:1rem!important
}
.pt-4{
    padding-top:1.5rem!important
}
.pt-5{
    padding-top:3rem!important
}
.no-margin{
    margin: 0 !important;
}
.no-padding{
    padding: 0 !important;
}
.dataTable thead tr th,
.dataTable tfoot tr th {
    padding: 8px;
}
.dataTable tbody tr td {
    padding: 8px;
}
.dataTable thead tr th {
    border-top: 0;
    border-bottom: 0;
    height: 14px;
}
.dataTable tfoot tr th {
    border-bottom: 0;
    height: 15px;
}
.dataTables_length select[name*="_length"]{
    cursor: pointer;
    width: 70px !important;
    height: 35px;
}
.card .card-header{
    padding: 0.9rem 0.9rem;
}
.btn{
    font-size: 1rem;
}
table.dataTable thead th:before,
table.dataTable thead th:after{
    top: 0.6em !important;
}
table.table-bordered.dataTable tbody td{
    padding: 4px 5px;
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td{
    font-size: .8rem;
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{
    line-height: 15px;
}
table.dataTable tr td:last-child{
    padding: 4px 0;
}
.card-body::after, .card-footer::after, .card-header::after{
    display: none;
}
.margin-btn{
    padding: 5px 0;
}
.btn-action{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}
.btn-action i{
    margin: 0;
}
.table.table-bordered td{
    border-color: transparent;
}
.card .card-body .header-card-body{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 20px;
}
.card .card-body .header-card-body h4{
    font-size: 25px;
    padding-right: 20px;
    font-weight: inherit;
}
.card .card-body .header-card-body p{
    padding-left: 20px;
}
.block-screen-load{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border-bottom: 0 !important;
}
.block-screen-load img{
    width: 100px;
    height: 100px
}
label sup{
    color: #f00
}
.form-radio.form-radio-flat label input:checked + .input-helper:after{
    top: 40%
}
.form-radio.form-radio-flat label input:checked + .input-helper:before{
    background: #3257f8;
    border-color: #2349f0;
}
.error-form label.error{
    width: 100%;
    font-weight: unset;
}
.error-form label.error:before{
    font-family: "Font Awesome 5 Free", serif;
    content: "\f06a";
    display: inline-block;
    margin-right: 10px;
    font-weight: 900;
}
.error-form ol li{
    list-style-type: none;
}
.form-control.error{
    border: 1px solid red !important;
}
/*
 * Component: Box
 * --------------
 */
.box {
    position: relative;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box.box-primary {
    border-top-color: #3c8dbc;
}
.box.box-info {
    border-top-color: #00c0ef;
}
.box.box-danger {
    border-top-color: #dd4b39;
}
.box.box-warning {
    border-top-color: #f39c12;
}
.box.box-success {
    border-top-color: #00a65a;
}
.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
    display: none;
}
.box .nav-stacked > li {
    margin: 0;
}
.box .nav-stacked > li:last-of-type {
    border-bottom: none;
}
.box.height-control .box-body {
    max-height: 300px;
    overflow: auto;
}
.box.box-solid {
    border-top: 0;
}
.box.box-solid > .box-header .btn.btn-default {
    background: transparent;
}
.box.box-solid.box-default {
    border: 1px solid #d2d6de;
}
.box.box-solid.box-default > .box-header {
    color: #444444;
    background: #d2d6de;
    background-color: #d2d6de;
}
.box.box-solid.box-default > .box-header a,
.box.box-solid.box-default > .box-header .btn {
    color: #444444;
}
.box.box-solid.box-primary {
    border: 1px solid #3c8dbc;
}
.box.box-solid.box-primary > .box-header {
    color: #ffffff;
    background: #3c8dbc;
    background-color: #3c8dbc;
}
.box.box-solid.box-primary > .box-header a,
.box.box-solid.box-primary > .box-header .btn {
    color: #ffffff;
}
.box.box-solid.box-info {
    border: 1px solid #00c0ef;
}
.box.box-solid.box-info > .box-header {
    color: #ffffff;
    background: #00c0ef;
    background-color: #00c0ef;
}
.box.box-solid.box-info > .box-header a,
.box.box-solid.box-info > .box-header .btn {
    color: #ffffff;
}
.box.box-solid.box-danger {
    border: 1px solid #dd4b39;
}
.box.box-solid.box-danger > .box-header {
    color: #ffffff;
    background: #dd4b39;
    background-color: #dd4b39;
}
.box.box-solid.box-danger > .box-header a,
.box.box-solid.box-danger > .box-header .btn {
    color: #ffffff;
}
.box.box-solid.box-warning {
    border: 1px solid #f39c12;
}
.box.box-solid.box-warning > .box-header {
    color: #ffffff;
    background: #f39c12;
    background-color: #f39c12;
}
.box.box-solid.box-warning > .box-header a,
.box.box-solid.box-warning > .box-header .btn {
    color: #ffffff;
}
.box.box-solid.box-success {
    border: 1px solid #00a65a;
}
.box.box-solid.box-success > .box-header {
    color: #ffffff;
    background: #00a65a;
    background-color: #00a65a;
}
.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
    color: #ffffff;
}
.box.box-solid > .box-header > .box-tools .btn {
    border: 0;
    box-shadow: none;
}
.box.box-solid[class*='bg'] > .box-header {
    color: #fff;
}
.box .box-group > .box {
    margin-bottom: 5px;
}
.box .knob-label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0.3em;
}
.box > .overlay,
.overlay-wrapper > .overlay,
.box > .loading-img,
.overlay-wrapper > .loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.box .overlay,
.overlay-wrapper .overlay {
    z-index: 50;
    border-radius: 3px;
}
.box .overlay > .fa,
.overlay-wrapper .overlay > .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}
.box .overlay.dark,
.overlay-wrapper .overlay.dark {
    background: rgba(0, 0, 0, 0.5);
}
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
    content: " ";
    display: table;
}
.box-header:after,
.box-body:after,
.box-footer:after {
    clear: both;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.collapsed-box .box-header.with-border {
    border-bottom: none;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
    margin-right: 5px;
}
.box-header > .box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}
.box-header > .box-tools [data-bs-toggle="tooltip"] {
    position: relative;
}
.box-header > .box-tools.pull-right .dropdown-menu {
    right: 0;
    left: auto;
}
.box-header > .box-tools .dropdown-menu > li > a {
    color: #444!important;
}
.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}
.open .btn-box-tool,
.btn-box-tool:hover {
    color: #606c84;
}
.btn-box-tool.btn:active {
    box-shadow: none;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.no-header .box-body {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.box-body > .table {
    margin-bottom: 0;
}
.box-body .fc {
    margin-top: 5px;
}
.box-body .full-width-chart {
    margin: -19px;
}
.box-body.no-padding .full-width-chart {
    margin: -9px;
}
.box-body .box-pane {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
}
.box-body .box-pane-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.chart-legend {
    margin: 10px 0;
}
@media (max-width: 991px) {
    .chart-legend > li {
        float: left;
        margin-right: 10px;
    }
}
.box-comments .box-comment {
    padding: 8px 0;
}
.box-comments .box-comment:before,
.box-comments .box-comment:after {
    content: " ";
    display: table;
}
.box-comments .box-comment:after {
    clear: both;
}
.box-comments .box-comment:last-of-type {
    border-bottom: 0;
}
.box-comments .box-comment:first-of-type {
    padding-top: 0;
}
.box-comments .box-comment img {
    float: left;
}
.box-comments .comment-text {
    margin-left: 40px;
    color: #555;
}
.box-comments .username {
    color: #444;
    display: block;
    font-weight: 600;
}
.box-comments .text-muted {
    font-weight: 400;
    font-size: 12px;
}
.btn i{
    margin-right: 0;
}
div.dataTables_wrapper div.dataTables_processing::after{
    font-family: "Font Awesome 5 Free";
    content: "\f110";
    font-weight: 900;
    transform: rotate(180deg);
    transform-origin: 50% 50%;
    display: inline-block;
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
div.dataTables_wrapper div.dataTables_processing{
    left: 45%;
    width: 300px;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.dataTable tbody tr td:last-child a,
.dataTable tbody tr td:last-child button{
    float: left;
    padding: 0.5rem 0.81rem !important;
}
#map,
#mapRental {
    width: 100%;
    height: 200px;
}
.dataTable .dataTables_empty {
    display: table-cell !important;
}
.card .header-card-body .card-description {
    color: #aaa;
}
.form-control {
    font-weight: 400;
}
select.form-control {
    height: 42px;
    margin-top: 1px;
    font-size: 1em;
}
.input-group select.form-control{
    /*margin-top: 0;*/
}
.alert-animate.alert-success,
.alert-animate.alert-warning,
.alert-animate.alert-danger {
    display: none !important;
}
.swal2-content ol li {
    list-style-type: none;
}
.swal2-content ol {
    /*margin-top: 25px;*/
}
.swal2-icon-warning .swal2-content ol li:not(:last-child) {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}
.form-group label.error {
    display: none !important;
}
.no-sublime {
    text-decoration: none !important;
}
.form-group {
    margin-bottom: 0;
}
table .form-group {
    margin-bottom: 1rem;
}
.card-title {
    text-transform: unset;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
.modal .modal-dialog .modal-content .modal-header {
    padding: 15px 25px;
    align-items: center;
}
.switch {
    position: relative;
    display: inline-block;
    margin-right: 5px;
}
.switch-input {
    display: none;
}
.switch-label {
    display: block;
    width: 45px;
    height: 24px;
    text-indent: -150%;
    clip: rect(0 0 0 0);
    color: transparent;
    user-select: none;
}
.switch-label::before,
.switch-label::after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
}
.switch-label::before {
    width: 100%;
    height: 24px;
    background-color: #ff6258;
    border-radius: 9999em;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
    margin-left: 1px;
}
.switch-label::after {
    top: 0;
    left: 1px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    -webkit-transition: left 0.25s ease;
    transition: left 0.25s ease;
}
.switch-input:checked + .switch-label::before {
    background-color: #19d895;
}
.switch-input:checked + .switch-label::after {
    left: 22px;
}
.dataTables_wrapper .dataTables_length select {
    margin-left: 0;
    margin-right: 0;
}
.form-control:disabled {
    cursor: not-allowed;
}
.wizard > .actions .disabled a{
    color: #fff;
    background: #2780c8;
    cursor: no-drop;
}
.separator-dashed {
    border-style: dashed;
    border-width: 1px;
}
.no-border-radius {
    border-radius: 0 !important;
}
input[type=checkbox].check-style{
    height: 0;
    width: 0;
    visibility: hidden;
}
label.check-style {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 27px;
    background: #ff6258;
    display: block;
    border-radius: 100px;
    position: relative;
}
label.check-style:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 25px;
    height: 25px;
    border-radius: 90px;
    transition: 0.3s;
}
input.check-style:checked + label.check-style {
    background: #19d895;
}
input.check-style:checked + label.check-style:after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
}
label.check-style:active:after {
    width: 25px;
}
label.check-xs {
    width: 32px;
    height: 17px;
    margin-top: 2px;
}
label.check-xs:after {
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
}
label.check-md {
    width: 42px;
    height: 22px;
    margin-top: 2px;
}
label.check-md:after {
    top: 1px;
    left: 1px;
    width: 20px;
    height: 20px;
}
.label-date-btns {
    /*left: 0 !important;*/
    /*top: 20% !important;;*/
    position: relative !important;;
    font-size: 1em;
}

.label-animate .label-date-btns {
    /*top: -5px !important;*/
}
.btr-r-0 {
    border-top-right-radius: 0 !important;
}
.btl-r-0 {
    border-top-left-radius: 0 !important;
}
.bbr-r-0 {
    border-bottom-right-radius: 0 !important;
}
.bbl-r-0 {
    border-bottom-left-radius: 0 !important;
}
.btr-r-5 {
    border-top-right-radius: 5px !important;
}
.btl-r-5 {
    border-top-left-radius: 5px !important;
}
.bbr-r-5 {
    border-bottom-right-radius: 5px !important;
}
.bbl-r-5 {
    border-bottom-left-radius: 5px !important;
}
div[disabled] {
    cursor: no-drop !important;
}
div[disabled].btn-success {
    background: #14aa75 !important;;
}
div[disabled].btn-danger {
    background: #ff3225 !important;;
}
div[disabled].btn-primary {
    background: #0c7cd5 !important;;
}
.justify-content-evenly {
    justify-content: space-evenly !important;
}
a[disabled] {
    pointer-events: none;
    cursor: no-drop;
}
@media (min-width: 576px) {
    .modal-md {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .modal-md {
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .modal-md {
        max-width: 65%;
    }
}

.navbar.default-layout .navbar-brand-wrapper .navbar-brand img {
    height: 60px !important;
}
.navbar.default-layout .navbar-brand-wrapper .navbar-brand {
    padding: 1px 0 0 0;
}

.select2-container--default .select2-selection--single, {
    border-radius: 5px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    //height: 34px;
}
.sidebar > .nav .nav-item:not(.hover-open) .collapse .sub-menu .nav-item:first-child .nav-link {
    padding-top: 10px;
}
.bullet-line-list li:after {
    left: -18px;
}
.bullet-line-list li::marker {
    left: 10px;
}
#payment .list-equipments-payment li[id-equipment] small.text-muted {
    font-size: 0.7em;
}
.swal-wide{
    width: 850px !important;
}
.swal-wide .swal2-content{
    width: 100% !important;
    text-align: left;
}
.wizard > .actions a.btn-danger {
    color: #fff !important;
    background-color: #ff6258 !important;
    border-color: #ff6258 !important;
}

.wizard > .actions a.btn-danger:hover {
    color: #fff !important;
    background-color: #ff3e32 !important;
    border-color: #ff3225 !important;
}

.wizard > .actions a.btn-danger:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 122, 113, 0.5) !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 122, 113, 0.5) !important;
}

.dataTables_wrapper .dataTable tbody tr.selected {
    background: #216b9e;
}

.jumping-dots-loader span {
    background-color: #2196f3;
}
.pricing-table .pricing-card .pricing-card-body {
    padding: 50px 35px 43px
}
.quill-container.ql-container .ql-tooltip.ql-editing {
    z-index: 11;
}

.buttons-collection.buttons-page-length {
    background-color: #1F3BB3;
    color: #fff;
    border-radius: 5px;
    height: 35px;
    border: 1px solid var(--bs-btn-hover-border-color);
    font-size: 0.812rem;
}
.dataTables_wrapper .dataTables_info {
    float: left;
}
.dataTables_wrapper .dataTables_paginate {
    float: right
}

.select2-results .select2-results__options {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.tooltip.show {
    z-index: 1030
}
.pagination .page-item.active .page-link {
    border-color: var(--bs-pagination-disabled-border-color);
}
.circle-loader:before {
    border-top-color: #2196f3;
}
.input-group .input-group-append .btn,
.input-group .input-group-prepend .btn,
.flatpickr .input-button-calendar .input-button.btn {
    height: 44px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
textarea.form-control {
    min-height: unset;
    height: unset;
}
/* tab switch */
.tickets-tab-switch {
    border-bottom: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
}
.tickets-tab-switch .nav-item {
    display: block;
    width: 33.33%;
    padding: 0 10px;
}
.tickets-tab-switch .nav-item .nav-link.active {
    background: #2196f3;
    color: #222437;
    border: none;
    border-radius: 5px;
}
.tickets-tab-switch .nav-item .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    background: #383e5d;
    padding: 20px;
    text-align: left;
    font-weight: 600;
    border: none;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-property: "background", "color";
    transition-property: "background", "color";
}
.tickets-tab-switch .nav-item .nav-link .badge {
    margin-left: auto;
    border-radius: 4px;
    background: #2196f3;
    color: #fff;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-property: "background", "color";
    transition-property: "background", "color";
}
.tickets-tab-switch .nav-item .nav-link.active .badge {
    background: #fff;
    color: #2196f3;
}
/* end tab switch */
.input-group .input-group-prepend select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 1px;
}
.accordion.accordion-solid-header .card .card-header a {
    padding: 1rem 4.5rem 1rem 2rem;
}
.input-group .select2-container--default .select2-selection--single,
.input-group .select2-container--default .select2-selection--multiple {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form-group.flatpickr.d-flex .label-date-btns {
    position: absolute !important;
    left: 5px !important;
}
.flatpickr a.input-button, .flatpickr button.input-button {
    height: calc(1.5em + 1.25rem + 3px);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}
.btn-flat {
    border-radius: 0;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    height: 44px
}
.dataTable tr.selected button[id^="dropActionsDataList"] i.fa-cog,
.dataTable tr.selected button[id^="dropActionsDataList"].dropdown-toggle:after{
    color: #fff
}
.dataTables_wrapper.dt-bootstrap4 .dt-buttons .btn.btn-primary.btn-sm {
    border-radius: 5px;
}
.user-dropdown img.profile-user {
    width: 50px;
}
ul, ol, dl {
    font-size: 0.875rem;
}
p {
    font-size: 0.875rem;
}
.navbar {
    z-index: 1031;
}

/* Kanban */
.board-wrapper {
    overflow-x: auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.board-wrapper .board-portlet {
    margin: 0px 15px;
    padding: 22px 20px;
    min-width: 350px;
    width: 350px;
    border-radius: 4px;
}

.board-wrapper .portlet-heading {
    font-weight: 500;
    margin-bottom: 5px;
}

.board-wrapper .task-number {
    color: var(--bs-heading-color);
}

.board-wrapper .portlet-card-list {
    padding-left: 0;
    list-style: none;
    min-height: 70px;
}

.board-wrapper .portlet-card {
    width: 100%;
    border-radius: 4px;
    padding: 20px 20px 20px 20px;
    display: grid;
    grid-template-rows: 5;
    grid-template-columns: 2;
    border-radius: 6px;
    position: relative;
    margin-bottom: 15px;
    cursor: grab;
}
.board-wrapper .portlet-card p {
    width: 245px;
}

.board-wrapper .portlet-card .progress {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    border-radius: 6px 6px 0px 0px;
    height: 4px;
}

.board-wrapper .portlet-card .progress .progress-bar {
    border-radius: 0px;
}

.board-wrapper .portlet-card .task-date {
    margin-bottom: 5px;
    grid-row-start: 1;
    grid-column-start: 1;
}

.board-wrapper .portlet-card .action-dropdown {
    grid-row-start: 1;
    grid-column-start: 2;
    margin-left: auto;
}

.board-wrapper .portlet-card .action-dropdown .dropdown-toggle {
    border: none;
}

.board-wrapper .portlet-card .action-dropdown .dropdown-toggle i {
    font-size: 20px;
    line-height: 20px;
}

.board-wrapper .portlet-card .action-dropdown .dropdown-toggle i:before {
    margin-right: -10px;
}

.board-wrapper .portlet-card .action-dropdown .dropdown-toggle:after {
    display: none;
}

.board-wrapper .portlet-card .action-dropdown .dropdown-menu-right {
    left: 0 !important;
}

.board-wrapper .portlet-card .task-title {
    font-weight: 500;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 16px;
    margin-bottom: 15px;
}

.board-wrapper .portlet-card .image-grouped {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.board-wrapper .portlet-card .portlet-image {
    width: 100%;
    display: block;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 5px;
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
}

.board-wrapper .portlet-card .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 20px;
}

.kanban-toolbar {
    .btn {
        margin-left: 10px;
    }
}
/* chat */

.chat-app-wrapper {
    position: relative;
    overflow: hidden;
}

.chat-app-wrapper .chat-search-input {
    padding-top: 30px;
    padding-bottom: 10px;
}

.chat-app-wrapper .sidebar-spacer {
    padding-left: 20px;
    padding-right: 20px;
}

.chat-app-wrapper .chat-container-wrapper {
    height: 100%;
    /*min-height: 100vh;*/
    max-height: 450px !important;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 0 15px 30px 15px;
}

.chat-app-wrapper .chat-container-wrapper .chat-bubble {
    margin-top: 30px;
}

.chat-app-wrapper .chat-container-wrapper .chat-bubble .chat-message {
    border-radius: 4px;
    padding: 20px;
}

.chat-app-wrapper .chat-container-wrapper .chat-bubble .chat-message p:last-child {
        margin-bottom: 0;
}

.chat-app-wrapper .chat-container-wrapper .chat-bubble .sender-details {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.chat-app-wrapper .chat-container-wrapper .chat-bubble.incoming-chat .chat-message {
    margin-left: 45px;
}

.chat-app-wrapper .chat-container-wrapper .chat-bubble.outgoing-chat .chat-message {
    margin-left: auto;
    max-width: 290px;
    margin-right: 45px;
}

.chat-app-wrapper .chat-container-wrapper .chat-bubble.outgoing-chat .sender-details {
    flex-direction: row-reverse;
}

.chat-app-wrapper .chat-container-wrapper .chat-bubble .sender-details .seen-text {
    margin-bottom: 0;
    color: #6c757d;
}

.daterangepicker select.hourselect option {
    color: #333
}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before {
    top: 5px
}
#payment .bullet-line-list li:before {
    left: -20px;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .count-indicator .count {
    width: 18px;
    height: 17px;
    line-height: 0.85rem;
}
.accordion .card .card-header a[aria-expanded=true] {
    color: #ffffff;
}
